# Required
prefix                     = "myprefix"
execution_sns_topic_arn    = "arn:aws:sns::1234567890:executionsTopicName"
granule_sns_topic_arn      = "arn:aws:sns::1234567890:granulesTopicName"
pdr_sns_topic_arn          = "arn:aws:sns::1234567890:pdrTopicName"
state_machine_arns         = [
  "arn:aws:states:us-east-1:1234567890:stateMachine:stateMachineName"
]

# Optional
permissions_boundary = "arn:aws:iam::1234567890:policy/YourRoleBoundary"
subnet_ids           = ["subnet-123456"]
security_groups      = ["sg-123456"]
