{
  "title": "ChangeGranuleCollectionS3Input",
  "description": "Describes the input expected by the move-granules task",
  "type": "object",
  "required": [
    "granuleIds"
  ],
  "properties": {
    "granuleIds": {
      "type": "array",
      "description": "Array of all granules",
      "items": {
        "type": "string",
      }
    }
  }
}
