# Required
executions_table     = "executionsTableName"
prefix               = "myprefix"

# Optional
permissions_boundary = "arn:aws:iam::1234567890:policy/YourRoleBoundary"
subnet_ids           = ["subnet-123456"]
security_groups      = ["sg-123456"]
