
//
.icon {
  margin-right: 0.25em;
}

.icon-success {
  color: #189c54;
}

.icon-alert {
  color: #b3241c;
}

.icon-disabled {
  color: #95a5a6;
}

.icon-sort {
  line-height: 1.5em;
  float: right;
}

.eui-icon {
  /* Add space to the right of the icon when used on a button.*/
  padding-right: 3px;
}

// Give spacing around buttons.
.eui-btn {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

main {
  padding-left: 20px;
}

.service-stats-list {
  list-style-type: none;

  li {
    padding-bottom: 0.5em;
  }
  .service-name {
    font-weight: bold;
  }
}

// Defines a modal that is wider.
.wide-modal {
  width: 90%;
  height: calc(100% - 200px);
}

.modal-pre {
  height: calc(100% - 100px);
  font-family: monospace;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.alerts-list {
  list-style-type: none;
  /* Undo default webkit settings for this */
  -webkit-padding-start: 0;

  .eui-banner--danger {
    text-align: inherit;
  }

  .eui-banner--success {
    text-align: inherit;
  }

  .eui-banner--warn {
    text-align: inherit;
    color: #988001;
  }
}
