.icon-green {
  color: #189c54;
}

.icon-red {
  color: #b3241c;
}

.icon-grey {
  color: #95a5a6;
}

.eui-icon {
  /* Add space to the right of the icon when used on a button.*/
  padding-right: 3px;
}

main {
  padding-left: 20px;
}

.alerts-list {
  list-style-type: none;
  /* Undo default webkit settings for this */
  -webkit-padding-start: 0;

  .eui-banner--danger {
    text-align: inherit;
  }

  .eui-banner--success {
    text-align: inherit;
  }

  .eui-banner--warn {
    text-align: inherit;
    color: #988001;
  }
}

.workflow-status-table {
  width: calc(100% - 20px);
  margin-right: 20px;

  // Table headers that have a link in them should make the whole header clickable
  th a {
    display: block;
    color: inherit;
  }
}