.workflow-status-table {
  width: calc(100% - 20px);
  margin-right: 20px;

  // Table headers that have a link in them should make the whole header clickable
  .button-cell {
    display: block;
    color: inherit;
  }

  .expandable-icon {
    font-size: 1.25em;
  }

  .workflow-body {
    tr {
      background: #ebebeb;
    }
  }

  .product-body {
    tr {
      background: white;
    }
  }
}