default:
  bucket: cumulus-test-sandbox-internal
  apiUsername: jasmine
  pdrNodeNameProviderBucket: cumulus-sandbox-pdr-node-name-provider

cumulus-sit:
  bucket: cumulus-sit-internal
  apiUsername: jasmine
  pdrNodeNameProviderBucket: cumulus-sit-pdr-node-name-provider

cumulus-std:
  bucket: cumulus-sit-internal
  apiUsername: jasmine
  pdrNodeNameProviderBucket: cumulus-sit-pdr-node-name-provider

cumulus-es:
  bucket: cumulus-sit-internal
  apiUsername: jasmine
  pdrNodeNameProviderBucket: cumulus-sit-pdr-node-name-provider

cumulus-lp:
  bucket: cumulus-sit-internal
  apiUsername: jasmine
  pdrNodeNameProviderBucket: cumulus-sit-pdr-node-name-provider

awisdom:
  bucket: awisdom-internal

cbanh-tf:
  bucket: cbanh-cumulus-tf-internal

cdd-tf:
  bucket: cdd-test-sandbox-internal

ecarton:
  bucket: ecarton-internal

jl-tf:
  bucket: jl-test-integration-internal

jl-rds-tf:
  bucket: jl-test-integration-internal

jn-tf:
  bucket: jn-test-sandbox-internal

kk2-tf:
  bucket: kk2-tf-internal

np:
  bucket: npauzenga-internal

nnaga-tf:
  bucket: nnaga-internal

rs:
  bucket: rs-internal

yliu10-tf:
  bucket: yliu10-sandbox-internal
