[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.26.90"
cumulus-process = "==1.3.0"
cumulus-message-adapter-python = "==2.2.0"
six = "==1.12.0"

[dev-packages]
pylint = ">=1.8.2"

[requires]
python_version = "3.10"
