**/.nyc_output/**
**/coverage/**
**/dist/**
**/kes_dist/**
**/node_modules/**
**/webpack.config.js
example/app/**
example/deployer/**
example/iam/**
example/node_modules/**
packages/api/models/schemas.js
packages/deployment/app/*.js
tmp/**
docs/**
_book/**
