**/.nyc_output/**
**/coverage/**
**/build/**
**/dist/**
**/node_modules/**
**/webpack.config.js
tmp/**
docs/**
_book/**
*.tsbuildinfo
*.map
/packages/api-client/*.d.ts
/packages/api-client/*.js
/packages/aws-client/*.d.ts
/packages/aws-client/*.js
/packages/aws-client/lib/*.d.ts
/packages/aws-client/lib/*.js
/packages/checksum/src/*.d.ts
/packages/cmrjs/*.js
/packages/cmr-client/*.d.ts
/packages/cmr-client/*.js
/packages/cmrjs/*.d.ts
/packages/cmrjs/*.js
/packages/common/*.d.ts
/packages/common/*.js
/packages/ingest/*.d.ts
/packages/ingest/*.js
/packages/launchpad-auth/*.d.ts
/packages/launchpad-auth/*.js
/packages/message/*.d.ts
/packages/message/*.js
/tf-modules/cumulus-rds-tf/db-provision-user-database*
/packages/api/src/**/*.js
/packages/api/src/**/*.d.ts
/packages/object-store/*.d.ts
/packages/object-store/*.js
/packages/lzards-api-client/*.d.ts
/packages/lzards-api-client/*.js
/tasks/move-granule-collections/*.js
/tasks/move-granule-collections/*.d.ts
