{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "require-jsdoc": ["warn", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true
      }
    }],
    "valid-jsdoc": ["warn", {
      "requireReturn": false,
      "requireReturnType": false
    }],
    "generator-star-spacing": "off",
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off",
    "no-useless-escape": "off",
    "no-console": "warn",
    "spaced-comment": "off",
    "prefer-template": "warn",
    "no-underscore-dangle": "off",
    "comma-dangle": ["warn", "never"],
    "strict": "off",
    "object-shorthand": "off",
    "space-before-function-paren": ["error", "never"],
    "brace-style": [2, "stroustrup"],
    "max-len": [2, {
      "code": 100,
      "ignorePattern": "(https?:|JSON\\.parse|[Uu]rl =)"
    }]
  }
}
