[submodule "schemas/docson"]
	path = gibs-ingest/ingest-workflows/docs/docson
	url = https://github.com/lbovet/docson.git
[submodule "gibs-onearth"]
	path = gibs-onearth
	url = https://git.earthdata.nasa.gov/scm/gitc/gibs-onearth.git
