[submodule "schemas/docson"]
	path = gibs-ingest/ingest-workflows/docs/docson
	url = https://github.com/lbovet/docson.git
[submodule "gibs-ingest/ingest-workflows"]
	path = gibs-ingest/ingest-workflows
	url = https://git.earthdata.nasa.gov/scm/gitc/ingest-workflows.git
[submodule "ingest-common"]
	path = ingest-common
	url = https://git.earthdata.nasa.gov/scm/gitc/ingest-common.git
[submodule "gibs-onearth"]
	path = gibs-onearth
	url = https://git.earthdata.nasa.gov/scm/gitc/gibs-onearth.git
[submodule "gibs-dashboard"]
	path = gibs-dashboard
	url = https://git.earthdata.nasa.gov/scm/gitc/gibs-dashboard.git
[submodule "gibs-ops-api"]
	path = gibs-ops-api
	url = https://git.earthdata.nasa.gov/scm/gitc/gibs-ops-api.git
