_book
.DS_Store
.env
.envrc
.final_nyc_output
.git
.idea/
.nyc_output
.prettierrc.json
.terraform*
.tmp
.vscode
*-debug.log
*.code-workspace
*.html
*.map
**/.tern-port
/.tern-project
/example/app/efs-cf.yml
/example/app/nsidc.env
/example/app/sandbox.env
/gh-pages
/jsconfig.json
/queries
artifacts
backups
build/
cache-invalidation/config/runtime_config.json
cnmResponse.zip
cnmToGranule.zip
config/authorized_keys
coverage/
cumulus-message-adapter.zip
dist/
gitbook
node_modules
packaged-*
packages/deployment/app/*.js
profiles.clj
search_index.json
site
tasks/*/cumulus-message-adapter/
test-reports
tmp
website/i18n/en.json
yarn-error.log
yarn.lock
