{
  "comments": false,
  "sourceMaps": "both",
  "sourceType": "unambiguous",
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "24.12.0"
      }
    }]
  ],
  "plugins": [
    "source-map-support"
  ]
}
