:root{
  --ifm-color-primary-lightest: #3598D7;
  --ifm-color-primary-lighter: #2788C6;
  --ifm-color-primary-light: #2582BD;
  --ifm-color-primary: #2276AC;
  --ifm-color-primary-dark: #1F6A9B;
  --ifm-color-primary-darker: #1D6492;
  --ifm-color-primary-darkest: #185378;
}
