version: "3"
services:
  build_env:
    ports:
      - "20:20"
      - "21:21"
      - 47400-47470:47400-47470
      - 3030:3030
      - 2222:2222
      - 4550-4599:4550-4599
      - 8080:8080
      - 9200:9200
