profile = "nasa"
db_username = "changethisuser"
db_password = "changethispassword"
region      = "us-east-1"
vpc_id      = "vpc_id"
subnets     = ["subnet-some-subnet-1", "subnet-some-subnet-in-another-az"]
deletion_protection = false
cluster_identifier = "some_cluster"
