version: 2

jobs:
  build_and_test:
    docker:
      - image: cumuluss/circleci:node-8.11
      - name: localstack
        image: localstack/localstack:0.8.6
    working_directory: ~/project
    steps:
      - checkout

      - restore_cache:
          keys:
            - core-{{ checksum "lerna.json" }}-{{ checksum "package.json" }}
            - core-

      - run:
          name: core installation
          command: |
            yarn

            # generate global hash
            ./node_modules/.bin/lerna exec --concurrency 1 -- sha1sum package.json | awk '{print $1}' '' >> /home/circleci/project/global-hash

      - save_cache:
          paths:
            - ./node_modules
          key: core-{{ checksum "lerna.json" }}-{{ checksum "package.json" }}

      - restore_cache:
          keys:
            - packages-{{ checksum "global-hash" }}

      - restore_cache:
          keys:
            - cumulus-tasks-{{ checksum "global-hash" }}

      - run:
          name: Installing Dependencies
          command: |
            # start ftp
            sudo rm -rf /home/vsftpd
            sudo ln -s /home/circleci/project/packages/test-data /home/vsftpd
            sudo service vsftpd start || true

            # start http service
            sudo rm -rf /var/www/html
            sudo ln -s /home/circleci/project/packages/test-data /var/www/html
            sudo service apache2 start

            # start sftp service
            sudo bash /usr/sbin/sftp.sh user:password
            sudo cp -r /home/circleci/project/packages/test-data/* /home/user/

            yarn bootstrap-no-build

      - save_cache:
          key: packages-{{ checksum "global-hash" }}
          paths:
            - ./packages/deployment/node_modules
            - ./packages/pvl/node_modules
            - ./packages/test-data/node_modules
            - ./packages/api/node_modules
            - ./packages/common/node_modules
            - ./packages/cmrjs/node_modules
            - ./packages/ingest/node_modules
            - ./packages/integration-tests/node_modules
            - ./packages/task-debug/node_modules

      - save_cache:
          key: cumulus-tasks-{{ checksum "global-hash" }}
          paths:
            - ./tasks/hello-world/node_modules
            - ./tasks/discover-granules/node_modules
            - ./tasks/discover-pdrs/node_modules
            - ./tasks/parse-pdr/node_modules
            - ./tasks/post-to-cmr/node_modules
            - ./tasks/pdr-status-check/node_modules
            - ./tasks/queue-granules/node_modules
            - ./tasks/queue-pdrs/node_modules
            - ./tasks/sync-granule/node_modules
            - ./tasks/sf-sns-report/node_modules

      - run:
          name: Running Tests
          environment:
            LOCALSTACK_HOST: localstack
          command: yarn test

      - run:
          name: Running End to End Tests
          environment:
            LOCALSTACK_HOST: localstack
          command: yarn e2e

      - run:
          name: Prepare for Integration Tests
          environment:
            PRODUCTION: true # this will ensure that the integration from source uses the same packaging as the integration from npm packages
          command: |
            if [[ "$CIRCLE_BRANCH" =~ release-.* ]] || [[ "$CIRCLE_BRANCH" =~ .*-aws-test ]] || [[  "$CIRCLE_BRANCH" == 'master' ]] || [[ ! -z "$RUN_INTEGRATION" ]]; then
              sudo chown -R circleci:circleci /usr/local/bin

              # install cumulus-integration
              ./bin/prepare

              # update stackname 
              cd example 
            fi

      - run:
          name: Deploy cumulus source code to aws
          command: |
            if [[ "$CIRCLE_BRANCH" =~ release-.* ]] || [[ "$CIRCLE_BRANCH" =~ .*-aws-test ]] || [[  "$CIRCLE_BRANCH" == 'master' ]] || [[ ! -z "$RUN_INTEGRATION" ]]; then
              cd example

              # deploy latest iam roles to aws
              ./node_modules/.bin/kes cf deploy --kes-folder iam --region us-east-1 --deployment cumulus-from-source --template node_modules/@cumulus/deployment/iam

              # deploy latest version of the packages to the aws
              ./node_modules/.bin/kes cf deploy --kes-folder app --region us-east-1 --deployment cumulus-from-source --template node_modules/@cumulus/deployment/app && ./node_modules/.bin/kes lambda S3AccessTest deploy --kes-folder app --region us-west-1 --deployment cumulus-from-source --template node_modules/@cumulus/deployment/app
            fi

      - run:
          name: Run AWS Integration tests 
          command: |
            if [[ "$CIRCLE_BRANCH" =~ release-.* ]] || [[ "$CIRCLE_BRANCH" =~ .*-aws-test ]] || [[  "$CIRCLE_BRANCH" == 'master' ]] || [[ ! -z "$RUN_INTEGRATION" ]]; then
              cd example
              # run the tests
              yarn test
            fi

      - run: 
          name: Checking code coverage
          environment:
            COVERALLS_SERVICE_NAME: circleci
          command: |
            export COVERALLS_SERVICE_JOB_ID=$CIRCLE_BUILD_NUM
            yarn coveralls || true

      - store_artifacts:
          path: ~/project/coverage

      # - run:
      #     name: Running eslint-ratchet
      #     command: ./bin/eslint-ratchet ci

  build_and_publish:
    docker:
      - image: circleci/node:8.11
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            # checkout the latest tag
            LATEST_GIT_TAG=$(git describe --tags --abbrev=0 --match v*)
            echo $LATEST_GIT_TAG
            git checkout tags/$LATEST_GIT_TAG -b latest_git_tag
            yarn
            yarn ybootstrap

      - run:
          name: Publishing to NPM
          command: |
            # Temporary to release 1.7.1, correct in master
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
            VERSION=$(cat lerna.json | jq .version --raw-output)
            ./node_modules/.bin/lerna publish --skip-git --repo-version $VERSION --yes --force-publish=* --npm-client=npm --npm-tag=patch-$VERSION
      
      - run:
          name: Deploy cumulus with the npm packages source code
          command: |
            cd example
            yarn
            sed -i -- 's/src/npm/g' spec/config.yml
            ./node_modules/.bin/kes cf deploy --kes-folder iam --region us-east-1 --deployment cumulus-from-npm --template node_modules/@cumulus/deployment/iam
            ./node_modules/.bin/kes cf deploy --kes-folder app --region us-east-1 --deployment cumulus-from-npm --template node_modules/@cumulus/deployment/app && ./node_modules/.bin/kes lambda S3AccessTest deploy --kes-folder app --region us-west-1 --deployment cumulus-from-npm --template node_modules/@cumulus/deployment/app

      - run:
          name: Run Tests 
          command: |
            cd example
            yarn test
      
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build_and_test
      - build_and_publish:
          requires:
            - build_and_test
          filters:
            branches:
              only: /v\d+\.\d+/ 

