region = "us-east-1"

cumulus_message_adapter_lambda_layer_arn = "arn:aws:lambda:us-east-1:12345:layer:Cumulus_Message_Adapter:4"

permissions_boundary_arn = "arn:aws:iam::12345:policy/NGAPShNonProdRoleBoundary"
prefix                   = "PREFIX"
buckets = {
  internal = {
    name = "PREFIX-internal"
    type = "internal"
  }
  private = {
    name = "PREFIX-private"
    type = "private"
  },
  protected = {
    name = "PREFIX-protected"
    type = "protected"
  },
  public = {
    name = "PREFIX-public"
    type = "public"
  }
}
subnet_ids    = ["subnet-12345"]
system_bucket = "PREFIX-internal"
vpc_id        = "vpc-12345"
key_name      = "MY-KEY"

cmr_client_id   = "cumulus-core-PREFIX"
cmr_environment = "UAT"
cmr_password    = "password"
cmr_provider    = "CUMULUS"
cmr_username    = "username"

cmr_oauth_provider = "earthdata"

# Optional. Required if using cmr_oauth_provider = "launchpad"
launchpad_api = "launchpadApi"
launchpad_certificate = "certificate"
launchpad_passphrase = "passphrase"

oauth_provider   = "earthdata"

# Optional. Oauth user group to validate the user against when using oauth_provider = "launchpad"
oauth_user_group = "usergroup"

urs_client_id       = "asdf"
urs_client_password = "password"

token_secret = "asdf"

metrics_es_host = "https://xxxxxxxxxx.cloudfront.net"
metrics_es_username = "user"
metrics_es_password = "password"

# Optional. Required to send EMS ingest/distribution reports.
ems_host              = "ems-host.nasa.gov"
ems_port              = 22
ems_path              = "/"
ems_datasource        = "UAT"
ems_private_key       = "ems-private.pem"
ems_provider          = "CUMULUS"
ems_retention_in_days = 30
ems_submit_report     = true
ems_username          = "user"

data_persistence_remote_state_config = {
  bucket = "PREFIX-tf-state"
  key    = "PREFIX/data-persistence/terraform.tfstate"
  region = "us-east-1"
}
