region = "us-east-1"

# Replace 12345 with your actual AWS account ID
cumulus_message_adapter_lambda_layer_version_arn = "arn:aws:lambda:us-east-1:12345:layer:Cumulus_Message_Adapter:4"
permissions_boundary_arn = "arn:aws:iam::12345:policy/NGAPShRoleBoundary"

prefix                   = "PREFIX"
buckets = {
  glacier = {
    name = "PREFIX-glacier"
    type = "glacier"
  },
  internal = {
    name = "PREFIX-internal"
    type = "internal"
  }
  private = {
    name = "PREFIX-private"
    type = "private"
  },
  protected = {
    name = "PREFIX-protected"
    type = "protected"
  },
  public = {
    name = "PREFIX-public"
    type = "public"
  }
}
lambda_subnet_ids    = ["subnet-12345"]
system_bucket = "PREFIX-internal"
vpc_id        = "vpc-12345"

pdr_node_name_provider_bucket = "XXX-pdr-node-name-provider"

cmr_client_id   = "cumulus-core-PREFIX"
cmr_environment = "UAT"
cmr_password    = "password"
cmr_provider    = "CUMULUS"
cmr_username    = "username"

# Earthdata application client ID/password for authentication
urs_client_id       = "asdf"
urs_client_password = "password"

token_secret = "asdf"

data_persistence_remote_state_config = {
  bucket = "PREFIX-tf-state"
  key    = "PREFIX/data-persistence/terraform.tfstate"
  region = "us-east-1"
}

cmr_oauth_provider = "earthdata"

# Make archive API run as a private API gateway and accessible on port 8000
archive_api_port = 8000
private_archive_api_gateway = true

# ORCA Configuration
database_app_user_pw = "password"
postgres_user_pw     = "password"

# CSDAP configuration for cumulus distribution
csdap_client_id = "csdap client id "
csdap_client_password = "csdap client password"
## url for uat: "https://auth.csdap.uat.earthdatacloud.nasa.gov"
csdap_host_url = "csdap host url"

# Optional. Uncomment if using Cumulus Distribution.
# toggle this after deployed to put the correct port in. (and hosts and config)
# cumulus_distribution_url = "cumulus distribution url"

# Optional. Uncomment if using TEA.
# toggle this after deployed to put the correct port in. (and hosts and config)
# tea_distribution_url = "TEA distribution URL"

# Optional, uncomment if needed. Required if using cmr_oauth_provider = "launchpad".
/*
launchpad_api = "launchpadApi"
launchpad_certificate = "certificate"
launchpad_passphrase = "passphrase"
*/

oauth_provider   = "earthdata"

# Optional, uncomment if needed. Oauth user group to validate the user against when using oauth_provider = "launchpad".
# oauth_user_group = "usergroup"

# Optional, uncomment if needed.  When using oauth_provider = "launchpad", and if you are configuring Cumulus to authenticate
# the dashboard via NASA's Launchpad SAML implementation.
# see Wiki: https://wiki.earthdata.nasa.gov/display/CUMULUS/Cumulus+SAML+Launchpad+Integration
/*
saml_entity_id                  = "Configured SAML entity-id"
saml_assertion_consumer_service = "<Cumulus API endpoint>/saml/auth, e.g. https://example.com/saml/auth"
*/

# Optional, uncomment if needed. Sandbox Launchpad saml2sso: https://auth.launchpad-sbx.nasa.gov/affwebservices/public/saml2sso
# Production Launchpad saml2sso: https://auth.launchpad.nasa.gov/affwebservices/public/saml2sso
# saml_idp_login                  = "nasa's saml2sso endpoint, e.g. https://example.gov/affwebservices/public/saml2sso"

# Optional, uncomment if needed. Sandbox Launchpad IDP metadata: https://auth.launchpad-sbx.nasa.gov/unauth/metadata/launchpad-sbx.idp.xml
# Production Launchpad IDP Metadata: https://auth.launchpad.nasa.gov/unauth/metadata/launchpad.idp.xml
# saml_launchpad_metadata_url     = "url of the identity provider public metadata xml file"

# Optional, uncomment if needed.
# key_name      = "MY-KEY"

# Optional, uncomment if needed.
/*
metrics_es_host = "xxxxxxxxxx.cloudfront.net"
metrics_es_username = "user"
metrics_es_password = "password"
*/

# Optional, uncomment if needed. Required to send logs to the Metrics ELK stack
/*
log_api_gateway_to_cloudwatch = false
log_destination_arn = "arn:aws:logs:us-east-1:1234567890:destination:LogsDestination"
additional_log_groups_to_elk = {
  "LogDescriptor" = "log_group_name"
}
*/

# Optional - @cumulus/db will optionally run a 'heartbeat' query and retry if
# a knexTimeout occurs
rds_connection_heartbeat = false
