default:
  stackName: change-me-cumulus
  stackNameNoDash: ChangeMeCumulus

  urs_url: https://uat.urs.earthdata.nasa.gov

  # if not specified the value of the apigatewy backend endpoint is used
  # api_backend_url: https://apigateway-url-to-api-backend/

  # if not specified the value of the apigateway dist url is used
  # api_distribution_url: https://apigateway-url-to-distribution-app/

  params:
    - name: CmrPassword
      value: '{{CMR_PASSWORD}}' # this has to be set in .env

  shared_data_bucket: 'cumulus-data-shared'

  buckets:
    internal: change-me
    private: change-me
    protected: change-me
    public: change-me

  cmr:
    username: devseed
    provider: CUMULUS
    clientId: CUMULUS
    password: '{{CMR_PASSWORD}}'

  # this whole section has to be updated in each deployment section
  vpc:
    vpcId: xxxxxx #change-me
    subnets:
      - subnet-xxxxx #change me

  default_users:
    pquinn1: true
    scisco: true
    mhuffnagle2: true
    kbaynes: true
    sethvincent: true

  ecs:
    amiid: ami-6944c513
    instanceType: change-me 
    volumeSize: 50
    availabilityZone: 'us-east-1a'
    maxInstances: 1
    desiredInstances: 0

  es:
    name: es5
    elasticSearchMapping: 4
    version: 5.3
    instanceCount: 1
    instanceType: t2.small.elasticsearch
    volumeSize: 35

  sns:
    # this topic receives all the updates from
    # step functions
    sftracker:
      subscriptions:
        lambda:
          endpoint:
            function: Fn::GetAtt
            array:
              - sns2elasticsearchLambdaFunction
              - Arn

  # defining the APIs. Each item will include a separate endpoint
  apis:
    - name: distribution
    - name: backend
  apiStage: dev

  dynamos:
    CollectionsTable:
      read: 5
      write: 1
      attributes:
        - name: name
          type: S
          schema: HASH
        - name: version
          type: S
          schema: RANGE

    ProvidersTable:
      read: 5
      write: 1
      attributes:
        - name: id
          type: S
          schema: HASH

    RulesTable:
      read: 5
      write: 1
      attributes:
        - name: name
          type: S
          schema: HASH

    UsersTable:
      read: 5
      write: 1
      attributes:
        - name: userName
          type: S
          schema: HASH

  sqs:
    startSF:
      visibilityTimeout: 20
      retry: 30
      consumer:
        - lambda: sqs2sf
          schedule: rate(1 minute)
          messageLimit: 10
          state: ENABLED

  rules:
    backgroundJobs:
      schedule: rate(10 minutes)
      state: ENABLED
      targets:
        - lambda: jobs

  stepFunctions: !!files ['workflows.yml']

  lambdas: !!files [ '../cumulus/packages/deployment/app/api.yml', 'lambdas.yml' ]