# Required

prefix               = "myprefix"

# Optional

create_service_linked_role = true
es_trusted_role_arns = ["arn:aws:iam::12345678:role/role-name"]
elasticsearch_config = {
  domain_name    = "es"
  instance_count = 1
  instance_type  = "t2.small.elasticsearch"
  version        = "5.3"
  volume_size    = 10
}
enable_point_in_time_tables = [
  "CollectionsTable",
  "ExecutionsTable"
]
include_elasticsearch  = true
subnet_ids             = ["subnet-123456"]
security_groups        = ["sg-123456"]
