aws_region = "us-east-1"
prefix     = "PREFIX"
subnet_ids = ["subnet-12345"]
permissions_boundary_arn = "arn:aws:iam::12345:policy/NGAPShRoleBoundary"
rds_admin_access_secret_arn = "arn:aws:secretsmanager:us-east-1:12345:secret:secret-name"
rds_security_group = "security-group-id"
vpc_id = "vpc-id"

# Optional, uncomment if needed, these variables are for configuring the cloudwatch log group's retention periods
# for data-persistence lambdas or tasks, the numerical value must included in: 
# [0 1 3 5 7 14 30 60 90 120 150 180 365 400 545 731 1827 3653] (representing days) for both of the below variables

# cloudwatch_log_retention_periods = {
#   <lambda function or task name> = 365 
# }
#
# default_log_retention_days = 30
