default:
  prefix: test-cumulus-integration
  stackName: '{{prefix}}-iam'
  authorizor: false
  capabilities:
    - CAPABILITY_NAMED_IAM

  system_bucket: cumulus-test-sandbox-internal

  buckets:
    internal:
      name: cumulus-test-sandbox-internal
      type: internal
    private:
      name: cumulus-test-sandbox-private
      type: private
    protected:
      name: cumulus-test-sandbox-protected
      type: protected
    public:
      name: cumulus-test-sandbox-public
      type: public
    protected-2:
      name: cumulus-test-sandbox-protected-2
      type: protected
    shared:
      name: cumulus-data-shared
      type: shared

  params:
     - name: ResourcePrefix
       value: '{{prefix}}'

cumulus-from-npm:
  prefix: test-npm-integration

cumulus-from-source:
  prefix: test-src-integration

cumulus-from-pr:
  prefix: test-pr-integration # used by the PR

aj:
  prefix: aj-integration

aimee-test:
  prefix: aimee-test
  stackName: aimee-test-iam

lf:
  prefix: lf-cumulus
  stackName: lf-cumulus-iam

jl:
  prefix: jl-test-integration
  buckets:
    private:
      name: jl-test-integration-private
      type: private
    protected:
      name: jl-test-integration-protected
      type: protected
    public:
      name: jl-test-integration-public
      type: public
    protected-2:
      name: jl-test-integration-protected-2
      type: protected
    shared-2:
      name: rvl-internal
      type: shared

kk-deploy-uat:
  prefix: kk-test-uat
  stackName: kk-test-uat-iam

mth-2:
  prefix: mth-2
  system_bucket: '{{prefix}}-internal'
  buckets:
    internal:
      name: '{{prefix}}-internal'
      type: internal
    private:
      name: '{{prefix}}-private'
      type: private
    protected:
      name: '{{prefix}}-protected'
      type: protected
    public:
      name: '{{prefix}}-public'
      type: public
