prefix = "PREFIX"

permissions_boundary_arn = "arn:aws:iam::12345:policy/NGAPShRoleBoundary"

lambda_subnet_ids = ["subnet-12345"]
vpc_id = "vpc-12345"

provider_kms_key_id = "kms-key-id"

data_persistence_remote_state_config = {
  bucket = "PREFIX-tf-state"
  key    = "PREFIX/data-persistence/terraform.tfstate"
  region = "us-east-1"
}
